div.row
    article(ng-repeat="gallery in galleries" ng-init="articleIndex = $index").col-sm-4.mb30
        div.img-bar
        a(href="{{img.file}}" data-lightbox="gallery_{{articleIndex}}" data-title="{{img.title}}" ng-repeat="img in gallery" ng-init="innerFirst = $first" ng-show="innerFirst")
            img(src="{{img.thumb}}" alt="{{img.title}}")
