# CACHE, LOGS, SESSION
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/app/config/parameters.yml

# ASSETS
/web/css/
/web/js/
/web/pages/
/web/directives/
/web/bundles/

# VENDORS
/vendor/
/node_modules/

# UPLOADS
/web/uploads/*
!web/uploads/.gitkeep
/web/media/*
!web/media/.gitkeep

# OTHERS
/nbproject
/phpunit.xml
/build/