# CACHE, LOGS, SESSION
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/app/config/parameters.yml

# VENDORS
/vendor/

# BUNDLES
/web/bundles/

# OTHERS
/nbproject
/phpunit.xml
/build/