doctype html
html(ng-app="madebyrogal")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        base(href="/")
        title {{siteTitle}}
        include pages/default/_header-include.pug
    body
        section.main(ng-view)
        include pages/default/_footer-include.pug
