block title
    title Madebyrogal - Realization

include ../default/_menu.pug
section.realization
    div.container
        h1 Realizations
        div.row.mb30
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
        div.row
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
            article.col-sm-4
                div.img-bar
                img(src="/images/img355-238.jpg" alt="Project title").img-responsive
include ../default/_project_planer.pug
div.mine-container.container-2-columns
    div.column.bg-color-purpure
    div.column.bg-color-green
    div.container
        div.row
            div.col-sm-6.bg-color-purpure
                include ../default/_what_people_say.pug
            div.col-sm-6.bg-color-green
                include ../default/_blog.pug
include ../default/footer.pug