include ../default/_menu.pug
section.realization
    div.container
        h1 Realizations
        galleries(galleries="realization.galleries")
include ../default/_project_planer.pug
div.mine-container.container-2-columns
    div.column.bg-color-purpure
    div.column.bg-color-green
    div.container
        div.row
            div.col-sm-6.bg-color-purpure
                include ../default/_what_people_say.pug
            div.col-sm-6.bg-color-green
                include ../default/_blog.pug
include ../default/footer.pug