block title 
    title Madebyrogal - Home

div.start-page
    div.container
        header.row
            div.social
                a(href="#") 
                    i.fa.fa-envelope
                a(href="#")
                    i.fa.fa-facebook
        include ../default/_slider.pug
        nav.on-start.row
            ul
                li
                    a(href="/realizations") Realizations
                li
                    a(href="#") Our clients
                li 
                    a(href="#") Blog
                li.project
                    a(href="#").fa.fa-calendar-check-o Project Planer
                li 
                    a(href="#") Contacts 