section.blog-box
    i.fa.fa-comments-o
    h3 From the blog
    h4 Press release: Mud appoint Chris Thurling as Chairman
    p Bath digital agency Mud have announced the appointment of Chris Thurling as
        |Chairman. Chris was the founder and MD of 3Sixty, a highly successful and
        |respected digital agency in Bristol, and currently sits on the board of Bristol
        |Media and was co-Chairman of the IPA’s Digital Business Group.
    a(href="#").button.purpure Read full article