div.menu
    div.container
        header
            nav.other
                ul
                    li.logo
                        a(href="/")
                            img(src="/images/logo.png" alt="logo").img-responsive
                    li
                        a(href="/realizations") Realizations
                    li 
                        a(href="#") Our clients
                    li
                        a(href="#") Blog
                    li.project
                        a(href="#")
                            i.fa.fa-calendar-check-o 
                            |Project Planer
                    li
                        a(href="#") Contact