section.project-planer
    div.container
        div.row
            div.col-md-8.col-md-offset-2
                div.project-tag
                    a(href="#")
                        i.fa.fa-calendar-check-o Project planner
                article
                    h3 Want to talk to us about your project?
                    p If you’ve already started thinking about your project, fill in some details on our project planner. 
                    | We'll have a think about your requirements before getting in touch with our ideas and recommendations.
                    p.project-planer-link
                        a(href="#") Please fill in our project planner to help get your project started