div.flexslider
    div.custom-navigation
        a(href="#").flex-prev
            i.fa.fa-angle-left
        a(href="#").flex-next
            i.fa.fa-angle-right
    ul.slides
        li
            p
                h1 We create beautiful websites and digital strategies that make organisations more successful.
                | Clear Digital Thinking.<br/>
                strong Our name is madeByRogal