section.what-people-say-box
    i.fa.fa-thumbs-o-up
    h3 What people say about us
    p “Working with madeByRogal was an absolute pleasure from the very start. They went above and beyond, and created a website to be proud of... I would genuinely recommend madeByRogal to anyone” <br/><br/><br/>
    p.sygnature Napromed - Piotr, Attitude is Everything
    a(href="#").button.green Our clients