footer
    a(href="tel:+48608651322" title="phone to madebyrogal") +48 608 651 322 / 
    a(href="mailto:info@madebyrogal.com" title="info@madebyrogal.com") info@madebyrogal.com 
    |/ © madeByRogal {{footerDate | date:'yyyy'}}
